<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#simple-EDA" data-toc-modified-id="simple-EDA-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>simple EDA</a></span><ul class="toc-item"><li><span><a href="#Looking-at-rows" data-toc-modified-id="Looking-at-rows-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Looking at rows</a></span></li><li><span><a href="#DataFrame-info" data-toc-modified-id="DataFrame-info-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>DataFrame info</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Missing Values</a></span></li><li><span><a href="#Duplicates" data-toc-modified-id="Duplicates-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Duplicates</a></span></li><li><span><a href="#Checking-Target" data-toc-modified-id="Checking-Target-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Checking Target</a></span></li></ul></li><li><span><a href="#The-Plan:" data-toc-modified-id="The-Plan:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>The Plan:</a></span></li></ul></div>

In [1]:
# Importing pandas libarary.
import pandas as pd

# Importing NumPy library.
import numpy as np

In [2]:
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [3]:
# Importing Visualizations
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [4]:
# Loading data
try:
    df_contract = pd.read_csv('/contract.csv')
    df_personal = pd.read_csv('/personal.csv')
    df_internet = pd.read_csv('/internet.csv')
    df_phone = pd.read_csv('/phone.csv')
except:   
    df_contract = pd.read_csv('/datasets/final_provider/contract.csv')
    df_personal = pd.read_csv('/datasets/final_provider/personal.csv')
    df_internet = pd.read_csv('/datasets/final_provider/internet.csv')
    df_phone = pd.read_csv('/datasets/final_provider/phone.csv')
    
dfs = [df_contract, df_personal, df_internet, df_phone]

In [5]:
names= ['contract','pesonal','internet','phone']
for i in range(len(dfs)):
    dfs[i].name= names[i]

## simple EDA

### Looking at rows

In [6]:
for df in dfs:
    display(df.name, df.head(3))

'contract'

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15

'pesonal'

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No

'internet'

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No

'phone'

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No

Some Observations:<br>
All dataframes have customerID, so I will disregard from this column.

* columns are camle case.

* contract: 
    * StartDate: holds the date of customer joining
    * EndDate: is our target, hold either "no" or date
    * Type: seems like a categorical or binary
    * PaperlessBilling: binary column
    * PaymentMethod: seems categorical.
    * TotalCharges needs to be changed to float
* personal:
    * All columns, seem to be binary
* internet:
    * InternetService: seems categorical
    * rest of the columns seem to be binary
* phone:
    * MultipleLines: categorical

### DataFrame info

In [7]:
for df in dfs:
    print(df.name)
    display(df.info())

contract
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
customerID          7043 non-null object
BeginDate           7043 non-null object
EndDate             7043 non-null object
Type                7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

None

pesonal
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
customerID       7043 non-null object
gender           7043 non-null object
SeniorCitizen    7043 non-null int64
Partner          7043 non-null object
Dependents       7043 non-null object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

None

internet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
customerID          5517 non-null object
InternetService     5517 non-null object
OnlineSecurity      5517 non-null object
OnlineBackup        5517 non-null object
DeviceProtection    5517 non-null object
TechSupport         5517 non-null object
StreamingTV         5517 non-null object
StreamingMovies     5517 non-null object
dtypes: object(8)
memory usage: 344.9+ KB

None

phone
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
customerID       6361 non-null object
MultipleLines    6361 non-null object
dtypes: object(2)
memory usage: 99.5+ KB

None

Info observations:
* the types are not correct in most of them.
* number of rows in contract is equal to pesonal, but bigger than internet and phone
    * this will cause missing values when we merge these columns

In [8]:
for df in dfs:
    display(df.isna().sum())

customerID          0
BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64

customerID          0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

customerID       0
MultipleLines    0
dtype: int64

### Missing Values

In [9]:
for df in dfs:
    display(df.isna().sum())

customerID          0
BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64

customerID          0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

customerID       0
MultipleLines    0
dtype: int64

No missing values.<br>
Maybe after changing some types and merging we will have some missing values.

### Duplicates

In [17]:
for df in dfs:
    print(df.name ,f"The number of duplicated rows: {df.duplicated().sum()}")

contract The number of duplicated rows: 0
pesonal The number of duplicated rows: 0
internet The number of duplicated rows: 0
phone The number of duplicated rows: 0

No duplicates

### Checking Target

In [11]:
df_contract['EndDate'].value_counts(normalize=True)

No                     0.734630
2019-11-01 00:00:00    0.068863
2019-12-01 00:00:00    0.066165
2020-01-01 00:00:00    0.065313
2019-10-01 00:00:00    0.065029
Name: EndDate, dtype: float64

There are more than 70% clients. this data set is imblanced.


## The Plan:

* EDA
* Visualize
* Mergeing dataframes
* Training
* Testing
    

EDA:
Explore the data set look for correlation, maybe some of the columns are not relevent.<br>
Our target column has a mix of strings and dates, we will split it.

* split target to two columns:
    * is_client
    * days_duration: calculated by taking the end date (if not than take current date) minus begin_date
* changing column types to the apropriate types:
    * will down cast integers columns.
    * There are categorical columns like, Type, PaperlessBilling we can:
        * one hot encoding
        * LightGBM. or HistGradientBoostingRegressor that can handle text for classifications.
    * Make sure begin_date values are all in the start of a month
        * if so:Changing begin_date to month and year columns
        * otherwise: begin_date change to month, year, day.
* Missing values: will look for missing values after changing types.
* Outliers:
    * Check values 
* Visualize:
    * Class imblance
    * visualize outliers with violine plot

-----
Prepare data for traning:<br>

1. First we will merge, after merging we will have missing values.<br>
    we can fill them using:
    * KNN since our data seems to have correlation 
    * drop if the number of missing values is less than 15%
    * fill using mean
    * phone users will be filled using a new column has_phone, binary column.
2. Treating class imbalanced, we can:
    * Create more data using SMOTE or some other method
    * Set class_weight='balanced' in some models
3. Training:
   * RandomForest
   * LogisticRegression
   * LGBM: we might not have to use one hot encoding with it.
   * catboost
4. Testing
   * metric: since we are doing a classification, we will use ROC AUC